@model WebApplicationQL_TV.Model_new.Sach

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.namXuatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namXuatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghiChu)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.maLoaiSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maLoaiSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maKhoSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maKhoSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maDauSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maDauSach)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit","Sach", new { id = Model.maSach }, new { @class="btn btn-default" })
</p>
