@model IPagedList<WebApplicationQL_TV.Model_new.Sach>
@using PagedList;
@using WebApplicationQL_TV.Model_new;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />





<body>
    <div style="font-size:30px"><strong>Bảng Thông Tin Chi Tiết Về Các Sách Đang Được Quản Lý </strong></div>
    <br />
    <p>
        @Html.ActionLink("Create New", "Create", new { @class = "btn btn-default" })
    </p>
    <br />
    <div class="card-body">
        <table class="table table-bordered" data-page-size="5">
            <thead>
                @using (Html.BeginForm("ThongTinSach", "Sach", FormMethod.Get))
                {
                    <tr>Tìm Kiếm Theo Đầu Sách : </tr>
                    <input type="text" name="search" value="@ViewBag.Current_search" placeholder="ten sach can tim" />
                    <tr>Sắp Xếp Theo : </tr>
                    <select name="sortBy">
                        <option value="@ViewBag.Current_sortBy">@ViewBag.Current_sortBy</option>
                        <option value="maSach">maSach</option>
                        <option value="tenSach">tenSach</option>
                    </select>
                    <input class="btn btn-default" type="submit" value="Tìm Kiếm" />
                }

            </thead>

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().maSach)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().tenSach)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().soTrang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().namXuatBan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().giaSach)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().ghiChu)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.First().maLoaiSach)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().maKhoSach)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().maDauSach)
                    </th>
                    <th>
                        Cac Dich Vu
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.maSach)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tenSach)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.soTrang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.namXuatBan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.giaSach)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ghiChu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.maLoaiSach)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.maKhoSach)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.maDauSach)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.maSach }) |
                            @Html.ActionLink("Details", "Details", new { id = item.maSach }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.maSach })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("ThongTinSach", "Sach", new { page, sortBy = ViewBag.Current_sortBy, search = ViewBag.Current_search }))

    </div>
</body>
