@model IPagedList<WebApplicationQL_TV.Models.NhanVien>
@using PagedList;
@using PagedList.Mvc;;
@{
    ViewBag.Title = "ThongTinNhanVien";
}

<h2 ><strong>Bảng Thông Tin Tất Cả Nhân Viên Đang Được Quản Lý</strong></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("ThongTinNhanVien", "NhanVien", FormMethod.Get))
{
    <tr>Tìm Kiếm Theo Mã Nhân Viên : </tr>
    <input type="text" name="search" value="@ViewBag.Current_search" />
    <tr>Sắp Xếp Theo : </tr>
    <select name="sortBy">
        <option value="@ViewBag.Current_sortBy">@ViewBag.Current_sortBy</option>
        <option value="maNV">maNV</option>
        <option value="tenNV">tenNV</option>
    </select>
    <input class="btn btn-default" type="submit" value="Tìm Kiếm" />
}

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().maNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().BoPhan.tenBP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().tenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SDT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoPhan.tenBP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.maNV }) |
                @Html.ActionLink("Details", "Details", new { id = item.maNV }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.maNV })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("ThongTinNhanVien", "NhanVien", new { page , sortBy = ViewBag.Current_sortBy, search = ViewBag.Current_search}))
